# Node.js
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Otros
*.log
src/config/vitalpaw-5bd88-firebase-adminsdk-fbsvc-b0d9af8b89.json
